:root {
    --colorg: rgb(0, 191, 98);
    --colorb: black;
}

.tittle {
    color: var(--colorg);
    background-color: var(--colorb);
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    min-width: 230px;
    max-width: auto;
    

}

* {
    padding: 0px;
    margin: 0px;
}

.input {
    padding: 15px;
    height: 1rem;
    margin: 5px;
    border-radius: 5px;
    width: 90%;
    min-width: 230px;
    max-width: 270px;
    box-sizing: border-box;
}

.btn {
    width: fit-content;
    margin: auto;
    padding: 15px;
    background-color: var(--colorg);
    border-radius: 5px;

}

.container {
    background-color: black;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 90%;
    max-width: 400px;
    min-width: 270px; 
    font-family: "Roboto", sans-serif; 

    margin-top: 10vh;
         
}
